@charset "utf-8";


/* reset */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, cite, code, del, dfn, em, img, ins, q, s, samp, strike,  sub, sup, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed {margin:0;padding:0;border:0;}
html{overflow-y:scroll}
html,body{width:100%;height:100%;*word-break:break-all;-ms-word-break:break-all}
body,h1,h2,h3,h4,h5,h6,input,button,textarea,select{color:#666;line-height:1.5;font:12px "돋움",Dotum,Verdana,Arial,AppleGothic,sans-serif;}
img,fieldset,iframe{border:0 none}
hr,legend{position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
caption {width:0;height:0;visibility:hidden;line-height:0;font-size:0}
ol, ul,li{ list-style:none;}
input,select,button,img,textarea {vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button {margin:0;padding:0;border:0;background-color:transparent;cursor:pointer;}
button *{position:relative}
button img{left:-3px;*left:auto}
table {border-spacing:0;width:100%;border: 0 none;border-collapse: collapse;table-layout:fixed;word-wrap:break-word;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;margin: 0;padding: 0;border: 0;}
form{text-align:left;}
caption, th, td {text-align:left; font-weight:normal;}
legend{*width:0}
a { color:#666; cursor:pointer;}
a:link,a:visited { text-decoration:none;}
a:hover,a:active { text-decoration:none; cursor:pointer;}
a:focus {outline: 1px dotted #a0a0a0;}
/*common*/


/************ header start ***************/
header{position:relative;width:940px;height:163px;margin:0 auto;margin-bottom:3px;}
header h1{position:absolute;top:22px;right:611px;}
/*search*/
.search{position:absolute;top:41px;left:329px;width:611px;}
.inp_search{border:7px solid #2db400;display:inline-block;height:26px;vertical-align:top;}
.inp_search input[type=text]{width:372px;height:17px;outline:none;border:none;}
.btn_search{background: url(./images/sp_mn20140731.png) no-repeat 0 0;width:52px;height:40px;}
.txt_hid{z-index:-1;}
/*nav*/
nav.gnb{position:absolute;bottom:0;width:100%;height:27px;padding-top:11px;background:#44b316;}
nav.gnb ul li{float:left;}
.sub_menu1{float:left;padding:0 9px;color:#EFFE00;font-weight:bold;}
.sub_menu1 li, .sub_menu2 li{padding-left:5px;}
.new_service{width:105px;float:left;}
.new_service .ico{background: url(./images/sp_main20140818_v2.png) no-repeat -400px -1px;margin-left:9px;display:block;height:16px;width:16px;float:left;padding-right:5px;}
.more{float:left;color:#fff; background:url(./images/sp_rgt20140731.png) no-repeat 43px -390px;padding-right:20px;}
.up{position:absolute;right:40px;top:2px;background: url(./images/sp_main20140818_v2.png) no-repeat -96px -110px;display:bolck;width:10px;height:10px;}
.number{font-size:10px;position:absolute;right:15px;top:2px;color:#666;}
/************ header end *****************/


/*contents -section*/
.contents{width:940px;margin:0 auto;}
.subcontents1 section{float:left;width:640px;}
.subcontents1 .banner{width:635px;height:100px;margin-bottom:5px;}
.subcontents1 .news1{width:603px;height:22px;border:1px solid #d6d6d6;margin-bottom:5px;padding:9px 15px 0;background-color:#f9f9f9;overflow:hidden;}
.subcontents1 .news1 h3{font-weight:bold;width:70px;float:left;}
.subcontents1 .news1 h3 span{background: url(./images/sp_main20140818_v2.png) -227px -307px no-repeat;padding-left:10px;margin-left:5px;}
.subcontents1 .news1 div{float:left;}
.subcontents1 .news2 {float:right;}
.subcontents1 .news2 li{float:left;}
.subcontents1 .news2 span{color:#d0d0d1;padding:0 1px;}
.subcontents1 .news2 li:first-child{font-weight:bold;color:#339900;}
.subcontents1 .news2 li:last-child{font-weight:bold;}
.newslist{width:633px;height:264px;border:1px solid #d6d6d6;}
.newslist .news_tit{height:18px;padding:15px 17px 8px;border-bottom:1px solid #e7e7e7;overflow:hidden;}
.newslist .newsCont{height:208px;padding-top:10px;background-color:#f9f9f9;position:relative;}
.newslist .news_tit h2{font-weight:bold;width:90px;float:left;}
.newslist .news_tit h2 span{background: url(./images/sp_main20140818_v2.png) -227px -307px no-repeat;padding-left:10px;margin-left:5px;}
.newsCont ul{width:576px; margin:0 auto;}
.newsCont li{float:left;margin:10px 15px 0 0;}

.news_ft{position:absolute;bottom:10px;left:17px;font-size:11px;}
.news_ft .ico{background:url(http://img.naver.net/static/www/2014/sp_vertical201406.png) no-repeat 0 -248px;padding-left:17px;}

.subcontents1 aside{float:right;width:300px;}


/*contents - aside*/
.login{height:78px;position:relative;padding: 10px 14px;border:1px solid #b6b8bb;width:270px;background:#f9f9f9;}
.join_link{margin-bottom:3px;font-size:11px;}
.find{margin-left:30px;}
.login_box{margin-bottom:3px;}
.login_label{visibility:hidden;overflow:hidden;width:1%;height:1%;position:absolute;}
.login_btn{position:absolute;top:25px;left:148px;}
.security{position:absolute;border-left:1px solid #d6d6d6;width:86px; height:80px;text-align:center;top:10px;left:211px;}
.security_txt{margin-top:11px;}
.dis_login_box{position:absolute;bottom:10px;left:5px;}
.dis_login{background: url(./images/sp_login_m.png) no-repeat 0 -16px;display:inline-block;height:20px;width:69px;}
.dis_login span{visibility:hidden;overflow:hidden;width:1%;height:1%}
.security .security_on{color:#339900;font-weight:bold;text-decoration:underline;}

.today_box{position:relative;border:1px solid #b6b8bb;border-top:none;height:154px;}
.today_box h3{font-weight:bold;padding:10px;}
.today_link{position:absolute;top:10px;right:10px;}
.subcontents1 .news1 h3 span{background: url(./images/sp_main20140818_v2.png) -227px -307px no-repeat;padding-left:10px;margin-left:5px;}
.today_cont li{padding:5px 0 5px 10px;}
.today_cont span{background: url(./images/sp_main20140818_v2.png) -227px -307px; padding-left:10px; }

.ad{width:298px;height:150px;border:1px solid #d6d6d6;margin-top:2px;}

/*footer*/